# File dan folder konfigurasi lokal VSCode
.vscode/
.history/

# Folder cache dan hasil build PlatformIO
.pio/
.SConant

# File firmware hasil kompilasi
*.bin
*.elf
*.hex
firmware.bin

# File library yang diunduh (sebaiknya di-manage oleh platformio.ini)
lib/
lib_deps/

# File sistem operasi
# Mac
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# File konfigurasi C/C++ dari IntelliSense
c_cpp_properties.json
ipch/
*.ipch

# File log dan environment
*.log
*.env
.env